<div class="container p-3 m-auto">
  <ng-container *ngIf="!checkIfLogged()" class="p-4 p-lg-3 bg-light rounded-3 text-center">
    <div class="m-4 m-lg-5">
      <h1 class="display-5 fw-bold">Segnalazioni Covid</h1>
      <p class="fs-4">Solo i DIPENDENTI di Intesa SanPaolo possono effettuare la segnalazione.
        Per proseguire bisogna REGISTRARSI inserendo il proprio codice fiscale, che servirà a verificare
        se siete DIPENDENTI o MEDICI.
      </p>
      <div>
        <div class="d-flex justify-content-around">
          <a class="btn btn-primary btn-lg" [routerLink]="['/login']" routerLinkActive="active">Login</a>
          <a class="btn btn-primary btn-lg" [routerLink]="['/signup']" routerLinkActive="active">Signup</a>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="checkIfLogged()">
    <div class="d-flex justify-content-around">
      <div *ngIf="user!.user.role === 'ROLE_DIPENDENTE'">
        <h3 *ngIf="datiUser">Benvenuta/o {{datiUser.name}} {{datiUser.surname}}</h3>
        <p>Ora può effettuare una nuova segnalazione.</p>
        <p>Per effettuare una nuova segnalazione clicchi qui per essere reindizzato:</p>
        <button class="btn btn-primary" [routerLink]="['/reportPage']" routerLinkActive="active">REPORT PAGE</button>
      </div>
      <div *ngIf="user!.user.role === 'ROLE_MEDICO'">
        <h3 *ngIf="datiUser">Benvenuta/o {{datiUser.name}} {{datiUser.surname}}</h3>
        <p>Ora può visualizzare le segnalazioni desiderate.</p>
        <p>Per il controllo delle segnalazioni clicchi qui per essere reindizzato:</p>
        <button class="btn btn-primary" [routerLink]="['/exportPage']" routerLinkActive="active">EXPORT PAGE</button>
      </div>
    </div>
  </ng-container>
</div>
