#msform {
  text-align: center;
  position: relative;
}

.form-card {
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 2px 4px 7px rgba(0, 0, 0, 0.2);
  padding: 0px 15px 15px 15px;
  box-sizing: border-box;
  width: 94%;
  margin: 0 3% 20px 3%;
  position: relative;

  text-align: left;
  color: #030303;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#msform input {
  font-weight: bold;
  padding: 0px 8px 4px 8px;

  border-left: 1px solid rgb(10, 10, 10);
  border-bottom: 1px solid rgb(10, 10, 10);
  border-radius: 0px;
  margin-bottom: 30px;
  margin-top: 2px;
  box-sizing: border-box;
  color: #000000;
  font-size: 16px;
}

/*LOGIN BUTTON*/
#msform .action-button {
  font-family: "Inter", sans-serif;
  width: 100px;
  background: #16510d;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

/*SIGNUP*/
#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

/*TITOLO AUTENTICAZIONE*/
.fs-title {
  padding-top: 10px;
  font-size: 25px;
  color: #000000;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
  font-family: "Vidaloka", serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
  background-color: #f8ffee;
  padding: 2.5rem;
  border-radius: 15px;
  min-height: calc(80vh - 100px);
}
