* {
  margin: 0;
  padding: 0;
  outline: none;
}

nav {
  height: 80px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.4rem;
  line-height: normal;
  background: #148b12;
  margin-bottom: 20px;
}

ul {
  height: 100%;
  display: flex;
  height: auto;
  align-items: center;
}

h2 {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-size: 20px;
  font-weight: 800;
  line-height: 19px;
  color: #fffcfc;
}

.header {
  display: flex;
  justify-content: space-around;
}

.btn {
  font-family: "Inter", sans-serif;
  font-style: italic;
  color: #d9d9d9;
  margin-top: 8px;
}

.dropdown-menu {
  text-align: center;
  margin-top: 17px;
}

.dropdown-menu a {
  color: #000;
  text-decoration: none;
}

.dropdown-item {
  background-color: rgb(196, 196, 196);
}
.dropdown-item:hover {
  cursor: pointer;
  color: #070707;
}

.dropdown-item.active {
  background-color: #148b12;
}

.img {
  cursor: pointer;
}
