<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid header">
    <div>
      <img class="img" width="400" alt="IntesaSanPaolo Logo" src="../assets/IMG/logo-intesasanpaolo.png"
        [routerLink]="['/']" />
    </div>

    <div class="dropdown">
      <h2> SEGNALAZIONE A "MEDICINA DEL LAVORO"</h2>

      <div>
        <button class="btn" data-bs-toggle="dropdown" aria-expanded="false">
          {{serialNumber === undefined ? "OPTION" : "Numero Indentificativo: " + serialNumber }}
        </button>



        <div class="dropdown-menu">
          <li class="dropdown-item" *ngIf="!checkIfLogged()" [routerLink]="['/login']" routerLinkActive="active">Login
          </li>
          <li class="dropdown-item" *ngIf="!checkIfLogged()" [routerLink]="['/signup']" routerLinkActive="active">
            Registrati</li>
          <li class="dropdown-item" *ngIf="checkIfLogged()" (click)="logout()" [routerLink]="['/introPage']"
            routerLinkActive="active">Log-out</li>
        </div>
      </div>
    </div>
  </div>
</nav>