<div class="container">
  <h2>Esporta segnalazioni</h2>
  <div>
    <div class="sceltaFiltro">
      <p class="filtri">Filtra per:</p>
      <select (change)="handleSelectChange($event)">
        <option value=""></option>
        <option value="option1">Visualizza tutti Report</option>
        <option value="option2">Data</option>
        <option value="option3">Intervallo</option>
      </select>
    </div>

    <!-- OPTION 1 -->
    <table class="table" *ngIf="selectedOption === 'option1'">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Tipologia di Report</th>
          <th scope="col">Data</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let report of reports">
          <th scope="row">{{report.idReport}}</th>
          <td>{{report.typeOfReport}}</td>
          <td>{{report.reportingDate}}</td>
          <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" mdbRipple rippleColor="dark"
            (click)="openModal(content)">
            DETTAGLI
          </button>

          <ng-template #content let-close="close">
            <div class="header">
              <h2>{{report.person?.name}} {{report.person?.surname}}</h2>
              <p>Report n° {{report.idReport}} effettuato in data {{report.reportingDate}} ({{report.status}}) </p>
              <p>Tipologia: {{report.typeOfReport}} </p>
            </div>
            <div class="body">
              <h2>Questionario:</h2>
              <p><strong>{{report.question1}}</strong> {{report.answer1}} </p>
              <p><strong>{{report.question2}}</strong> {{report.answer2}} </p>
              <p><strong>{{report.question3}}</strong> {{report.answer3}} </p>
              <p><strong>{{report.question4}}</strong> {{report.answer4}} </p>
              <p><strong>{{report.question5}}</strong> {{report.answer5}} </p>
              <p><strong>{{report.question6}}</strong> {{report.answer6}} </p>
              <p><strong>{{report.question7}}</strong> {{report.answer7}} </p>
              <p><strong>{{report.question8}}</strong> {{report.answer8}} </p>
            </div>
            <div class="footer">
              <button type="button" class="btn-close" aria-label="Close" (click)="close('Cross click')"></button>
            </div>
          </ng-template>
        </tr>
      </tbody>
    </table>
    <!-- OPTION 2 -->
    <div *ngIf="selectedOption === 'option2'">
      <p class="filtri">Inserisci Data:</p>
      <form [formGroup]="filter" (submit)="getDate(filter)">
        <div class="selezionaData">
          <div>
            <p class="filtri rangeData">Data:</p>
            <input type="date" id="textareaDate" name="dataInizio" formControlName="firstData">
          </div>
          <button type="submit" class="filter"> Filtra </button>
        </div>

      </form>

      <table class="table" *ngIf="dataReports !== undefined">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Tipologia di Report</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let report of dataReports">
            <th scope="row">{{report.idReport}}</th>
            <td>{{report.typeOfReport}}</td>
            <td>{{report.reportingDate}}</td>
            <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" mdbRipple rippleColor="dark"
              (click)="openModal(content)">
              DETTAGLI
            </button>

            <ng-template #content let-close="close">
              <div class="header">
                <h2>{{report.person?.name}} {{report.person?.surname}}</h2>
                <p>Report n°{{report.idReport}} effettuato in data {{report.reportingDate}} ({{report.status}})
                </p>
                <p>Tipologia: {{report.typeOfReport}} </p>
              </div>
              <div class="body">
                <h2>Questionario:</h2>
                <p><strong>{{report.question1}}:</strong> {{report.answer1}} </p>
                <p><strong>{{report.question2}}:</strong> {{report.answer2}} </p>
                <p><strong>{{report.question3}}:</strong> {{report.answer3}} </p>
                <p><strong>{{report.question4}}</strong> {{report.answer4}} </p>
                <p><strong>{{report.question5}}</strong> {{report.answer5}} </p>
                <p><strong>{{report.question6}}</strong> {{report.answer6}} </p>
                <p><strong>{{report.question7}}</strong> {{report.answer7}} </p>
                <p><strong>{{report.question8}}</strong> {{report.answer8}} </p>
              </div>
              <div class="footer">
                <button type="button" class="btn-close" aria-label="Close" (click)="close('Cross click')"></button>
              </div>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- OPTION 3 -->
    <div *ngIf="selectedOption === 'option3'">
      <p class="filtri">Seleziona intervallo:</p>
      <form [formGroup]="filter" (submit)="getInterval(filter)">
        <div class="selezionaData">
          <div>
            <p class="filtri rangeData">Dal: </p>
            <input type="date" id="textareaDate" name="dataInizio" formControlName="firstData">
          </div>
          <div>
            <p class="filtri rangeData">Al: </p>
            <input type="date" id="textareaDate" name="dataFine" formControlName="secondData" />
          </div>
          <button type="submit" class="filter"> Filtra </button>
        </div>

      </form>

      <table class="table" *ngIf="intervalReports !== undefined">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Tipologia di Report</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let report of intervalReports">
            <th scope="row">{{report.idReport}}</th>
            <td>{{report.typeOfReport}}</td>
            <td>{{report.reportingDate}}</td>
            <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" mdbRipple rippleColor="dark"
              (click)="openModal(content)">
              DETTAGLI
            </button>

            <ng-template #content let-close="close">
              <div class="header">
                <h2>{{report.person?.name}} {{report.person?.surname}}</h2>
                <p>Report n°{{report.idReport}} effettuato in data {{report.reportingDate}} ({{report.status}})
                </p>
                <p>Tipologia: {{report.typeOfReport}} </p>
              </div>
              <div class="body">
                <h2>Questionario:</h2>
                <p><strong>{{report.question1}}:</strong> {{report.answer1}} </p>
                <p><strong>{{report.question2}}:</strong> {{report.answer2}} </p>
                <p><strong>{{report.question3}}:</strong> {{report.answer3}} </p>
                <p><strong>{{report.question4}}</strong> {{report.answer4}} </p>
                <p><strong>{{report.question5}}</strong> {{report.answer5}} </p>
                <p><strong>{{report.question6}}</strong> {{report.answer6}} </p>
                <p><strong>{{report.question7}}</strong> {{report.answer7}} </p>
                <p><strong>{{report.question8}}</strong> {{report.answer8}} </p>
              </div>
              <div class="footer">
                <button type="button" class="btn-close" aria-label="Close" (click)="close('Cross click')"></button>
              </div>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </div>

    <input type="button" name="previous" class="previous action-button-previous" value="Indietro" [routerLink]="['/']"
      routerLinkActive="active" />
    <input type="button" name="next" class="next action-button" value="Scarica" />
  </div>
</div>