<div class="container-fluid" id="grad1">
  <div class="principale">
    <div class="row justify-content-center mt-0">
      <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2"  id="coloreSfondo">
        <div class="card px-0 pt-4 pb-0 mt-3 mb-3">

          <div class="row">
            <div class="col-md-12 mx-0 sfondoVerde">
              <form id="msform">
                <!-- progressbar -->
                <ul id="progressbar">
                  <li class="active" id="account"><strong>Dettagli Segnalazione</strong></li>
                  <li id="personal" class="active"><strong>Sintomaticità</strong></li>
                  <li id="payment" class="active"><strong>Dati di Controllo</strong></li>
                </ul>
                <!-- fieldsets -->

                <!--        TERZO STEP -->
                <fieldset class="sfondoVerde">
                  <div class="form-card">
                    <h2 class="fs-title">Dati di Controllo</h2>
                    <div>
                      <label for="variante">Il tuo è un caso sospetto o confermato di variante?</label>
                      <select name="" id="variante">
                        <option value="null"> </option>
                        <option value="si">Si</option>
                        <option value="no">No</option>
                      </select>
                      <p id="note">Rispondi si solo in caso di sequenziamento genomico che ha rilevato variante DIVERSA
                        da Delta e
                        Omicron</p>
                    </div>
                  </div>
                  <input type="button" name="previous" class="previous action-button-previous" value="Indietro"
                    [routerLink]="['/symptomatology']" routerLinkActive="active" />
                  <input type="button" name="next" class="next action-button" value="Avanti" [routerLink]="['/path1']"
                    routerLinkActive="active" />
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
