<div class="container" id="grad1">
  <form id="msform" [formGroup]="form" (submit)="sendObject(form)">
    <!--   PRIMO STEP -->
    <div class="path_one" *ngIf="page === 1">
      <!-- PROGRESSBAR -->
      <ul id="progressbar">
        <li class="active" id="stepOne"></li>
        <li id="stepTwo"></li>
        <li id="stepThree"></li>
      </ul>

      <fieldset>
        <div class="form-card">
          <h2 class="fs-title">Dettagli Segnalazione</h2>
          <div>

            <!--   DOMANDA 1 -->
            <label for="tipoTest" aria-placeholder="">{{survey.question1}}</label>
            <select name="tipoTest" class="dropDown" formControlName="answer1">
              <option value="{{survey.answer1.option1}}">{{survey.answer1.option1}}</option>
              <option value="{{survey.answer1.option2}}">{{survey.answer1.option2}}</option>
              <option value="{{survey.answer1.option3}}">{{survey.answer1.option3}}</option>
              <option value="{{survey.answer1.option4}}">{{survey.answer1.option4}}</option>
              <option value="{{survey.answer1.option5}}">{{survey.answer1.option5}}</option>
              <option value="{{survey.answer1.option6}}">{{survey.answer1.option6}}</option>
            </select>
          </div>
          <!--   DOMANDA 2 -->
          <div>
            <label for="dataTest">{{survey.question2}}</label>
            <input type="date" name="" id="textareaDate" formControlName="answer2">
          </div>
          <!--   DOMANDA 3 -->
          <div>
            <label for="dataPresenza">{{survey.question3}}</label>
            <input type="date" name="" id="textareaDate" formControlName="answer3">
          </div>

        </div>
        <input (click)="next()" name="next" class="next action-button" value="AVANTI" />
      </fieldset>
    </div>
    <!-- SECONDO STEP -->
    <div class="path_two" *ngIf="page === 2">
      <!-- PROGRESSBAR -->
      <ul id="progressbar">
        <li class="active" id="stepOne"></li>
        <li class="active" id="stepTwo"></li>
        <li id="stepThree"></li>
      </ul>

      <fieldset>
        <div class="form-card">
          <h2 class="fs-title">Convivente</h2>
          <!-- DOMANDA 4 -->
          <div>
            <label for="dataSintomi">{{survey.question4}}</label>
            <input type="date" name="" id="dataSintomi" formControlName="answer4">
          </div>
          <!-- DOMANDA 5 -->
          <div>
            <label for="dataSintomi">{{survey.question5}}</label>
            <input type="date" name="" id="dataSintomi" formControlName="answer5">
          </div>
        </div>

        <input (click)="next()" name="next" class="next action-button" value="AVANTI" />
      </fieldset>
    </div>
    <!-- TERZO STEP -->
    <div class="patch_three" *ngIf="page === 3">
      <!-- PROGRESSBAR -->
      <ul id="progressbar">
        <li class="active" id="stepOne"></li>
        <li class="active" id="stepTwo"></li>
        <li class="active" id="stepThree"></li>
      </ul>

      <fieldset>
        <div class="form-card">
          <h2 class="fs-title">Sintomi</h2>
          <div>
            <!-- DOMANDA 6 -->
            <div>
              <label for="dataSintomi">{{survey.question6}}</label>
              <input type="date" name="" id="dataTampone" formControlName="answer6">
            </div>

          </div>
        </div>
        <input type="submit" name="next" class="next action-button" value="AVANTI" />
      </fieldset>
    </div>
  </form>
</div>