<div class="container">
  <div class="principale">
    <h2>Esporta segnalazioni</h2>
    <div>
      <div class="sceltaFiltro">
        <p class="filtri">Filtra per:</p>
        <select (change)="handleSelectChange($event)">
          <option value=""></option>
          <option value="option1">Visualizza tutti Report</option>
          <option value="option2">Data</option>
          <option value="option3">Intervallo</option>
        </select>
      </div>

      <!-- OPTION 1 -->
      <table class="table" *ngIf="selectedOption === 'option1'">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Tipologia di Report</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let report of reports">
            <th scope="row">{{report.idReport}}</th>
            <td>{{report.typeOfReport}}</td>
            <td>{{report.reportingDate}}</td>
            <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" mdbRipple rippleColor="dark"
              (click)="openModal(content)">
              DETTAGLI
            </button>

            <ng-template #content let-close="close">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">ID: {{report.id}} - Tipologia: {{report.typeOfReport}}
                </h4>
                <p> {{report.reportDate}}</p>
                <button type="button" class="btn-close" aria-label="Close" (click)="close('Cross click')"></button>
              </div>
              <div class="modal-body">
                <p>{{report.person.name}}</p>
                <p>{{report.person.surname}}</p>
                <p>{{report.person.role}}</p>
              </div>
            </ng-template>
          </tr>
        </tbody>
      </table>

      <!-- OPTION 2 -->
      <div *ngIf="selectedOption === 'option2'">
        <p class="filtri">Inserisci Data:</p>
        <form [formGroup]="filter" (submit)="getDate(filter)">
          <div class="selezionaData">
            <div>
              <p class="filtri rangeData">Data:</p>
              <input type="date" id="textareaDate" name="dataInizio" formControlName="firstData">
            </div>
            <button type="submit" class="filter"> Filtra </button>
          </div>

        </form>

        <table class="table" *ngIf="dataReports !== undefined">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Tipologia di Report</th>
              <th scope="col">Data</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let report of dataReports">
              <th scope="row">{{report.idReport}}</th>
              <td>{{report.typeOfReport}}</td>
              <td>{{report.reportingDate}}</td>
              <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" mdbRipple rippleColor="dark"
                (click)="openModal(content)">
                DETTAGLI
              </button>

              <ng-template #content let-close="close">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">ID: {{report.id}} - Tipologia: {{report.typeOfReport}}
                  </h4>
                  <p> {{report.reportingDate}}</p>
                  <button type="button" class="btn-close" aria-label="Close" (click)="close('Cross click')"></button>
                </div>
                <div class="modal-body">
                  <p>{{report.person.name}}</p>
                  <p>{{report.person.surname}}</p>
                  <p>{{report.person.role}}</p>
                </div>
              </ng-template>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- OPTION 3 -->
      <div *ngIf="selectedOption === 'option3'">
        <p class="filtri">Seleziona intervallo:</p>
        <form [formGroup]="filter" (submit)="getInterval(filter)">
          <div class="selezionaData">
            <div>
              <p class="filtri rangeData">Dal: </p>
              <input type="date" id="textareaDate" name="dataInizio" formControlName="firstData">
            </div>
            <div>
              <p class="filtri rangeData">Al: </p>
              <input type="date" id="textareaDate" name="dataFine" formControlName="secondData" />
            </div>
            <button type="submit" class="filter"> Filtra </button>
          </div>

        </form>

        <table class="table" *ngIf="intervalReports !== undefined">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Tipologia di Report</th>
              <th scope="col">Data</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let report of intervalReports">
              <th scope="row">{{report.idReport}}</th>
              <td>{{report.typeOfReport}}</td>
              <td>{{report.reportingDate}}</td>
              <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" mdbRipple rippleColor="dark"
                (click)="openModal(content)">
                DETTAGLI
              </button>

              <ng-template #content let-close="close">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">ID: {{report.id}} - Tipologia: {{report.typeOfReport}}
                  </h4>
                  <p> {{report.reportingDate}}</p>
                  <button type="button" class="btn-close" aria-label="Close" (click)="close('Cross click')"></button>
                </div>
                <div class="modal-body">
                  <p>{{report.person.name}}</p>
                  <p>{{report.person.surname}}</p>
                  <p>{{report.person.role}}</p>
                </div>
              </ng-template>
            </tr>
          </tbody>
        </table>
      </div>

      <input type="button" name="previous" class="previous action-button-previous" value="Indietro"
        [routerLink]="['/landing-page']" routerLinkActive="active" />
      <input type="button" name="next" class="next action-button" value="Scarica" />
    </div>
  </div>
</div>
