<div class="container">
  <div class="esportareSegnalazioni">
    <h2>Esporta segnalazioni</h2>
    <div>
      <div class="sceltaFiltro">
        <p class="filtri">Filtra per:</p>
        <select name="" id="">
          <option value="">Data</option>
          <option value="">Intervallo</option>
          <option value="">Scarica tutto</option>
        </select>
      </div>
      <p class="filtri">Seleziona intervallo:</p>
      <form>
        <div class="selezionaData">
          <div>
            <p class="filtri rangeData">Dal: </p>
            <input type="date" id="dataInizio" name="dataInizio" value="" />
          </div>
          <div>
            <p class="filtri rangeData">Al: </p>
            <input type="date" id="dataFine" name="dataFine" value="" />
          </div>
        </div>
        <button type="submit" class="btn btn-success my-5">Scarica</button>
      </form>
    </div>
  </div>
</div>
