<body>
  <div id="divPDF" class="containerBody">
    <div class="paragrafi">
      <h1>Richiesta fine astensione</h1>
    </div>
    <div class="paragrafi">
      <p>Gentile collega, a fronte di questa segnalazione viene presa in carico la richiesta di termine astensione.</p>
    </div>
    <div class="paragrafi">
      <p>Se già non lo hai fatto, invia l'eventuale documentazione necessaria (come da istruzioni già ricevute) per
        certificare il termine astensione, alla casella di posta</p>
      <span>ufficio_coordinamento_MCT@intesasanpaolo.com</span>
    </div>
    <div class="paragrafi">
      <p>SE HAI RISPETTATO LE INDICAZIONI GIA' FORNITE E HAI TRASMESSO TUTTA LA DOCUMENTAZIONE RICHIESTA, PUOI RIENTRARE
        SENZA ATTENDERE IL NULLA OSTA DEL MEDICO COMPETENTE che si limiterà a prendere visione della documentazione
        trasmessa alla casella
        sopra indicata. </p>
    </div>

    <div class="container">
      <div>
        <p>Allegare modello ATTESTAZIONE PER IL RIENTRO (pdf editabile), al
          testo evidenziato come collegamento iperlink</p>
        <div class="input-group mb-3">
          <input type="file" class="form-control" id="inputGroupFile02">
          <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
      </div>
      <div class="buttons">
        <input type="button" name="next" class="next action-button" value="Stampa ricevuta segnalazioni"
          (click)="downloadPDF()">
        <input type="button" name="next" class="next action-button" value="Stampa riepilogo risposte fornite">
      </div>
    </div>
  </div>
</body>