<body>
  <div class="containerBody">
    <div class="paragrafi">
      <h1>Richiesta fine astensione(25)</h1>
    </div>
    <div class="paragrafi">
      <p>Gentile collega, a fronte di questa segnalazione viene presa in carico la richiesta di termine astensione.</p>
    </div>
    <div class="paragrafi">
      <p>Se già non lo hai fatto, invia l'eventuale documentazione necessaria (come da istruzioni già ricevute) per
        certificare il termine astensione, alla casella di posta</p>
      <span>ufficio_coordinamento_MCT@intesasanpaolo.com</span>
    </div>
    <div class="paragrafi">
      <p>SE HAI RISPETTATO LE INDICAZIONI GIA' FORNITE E HAI TRASMESSO TUTTA LA DOCUMENTAZIONE RICHIESTA, PUOI RIENTRARE
        SENZA ATTENDERE IL NULLA OSTA DEL MEDICO COMPETENTE che si limiterà a prendere visione della documentazione
        trasmessa alla casella
        sopra indicata. </p>
    </div>

    <div class="bottoni">
      <input type="button" name="next" class="next action-button" value="Stampa ricevuta segnalazioni">
    </div>
    <div class="bottoni">
      <input type="button" name="next" class="next action-button" value="Stampa riepilogo risposte fornite">
    </div>
  </div>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>
