<div class="container">
  <h2>Tipologia di Segnalazione</h2>

  <form>
    <p class="sceltaSegnalazione">Seleziona la tipologia di segnalazione:</p>

    <div>
      <button class="form-check-label text-start" [routerLink]="['/survey:1']" routerLinkActive="active">
        Sono positivo ad un test diagnostico </button>

    </div>

    <div>
      <button class="form-check-label text-start" [routerLink]="['/survey:2']" routerLinkActive="active">
        Aggiornamento per richiesta
        fine astenzione</button>

    </div>
    <div class="containerButton">
    </div>
  </form>
</div>