h2 {
  text-shadow: 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.sceltaSegnalazione {
  font-size: 1.4rem;
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 400;
  color: #000;
  margin: 0;
}

.tipologia {
  background-color: #f8ffee;
  margin-top: 13vh;
  margin-bottom: 3vh;
  height: 76vh;
  padding: 2.5rem;
  border-radius: 15px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.form-check-label {
  width: 100%;
  padding: 0.25rem;
  padding-left: 1rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
  background-color: #fff;
  border: 1px solid #16510d;
}

.form-check-input {
  padding: 0.25rem;
  border: 1px solid #16510d;
}

.form-select {
  border: 1px solid #16510d;
  margin-bottom: 1rem;
  width: 20vw;
}

.containerButton {
  display: flex;
  justify-content: space-evenly;
}

/*Blue Buttons*/
.action-button {
  font-family: "Inter", sans-serif;
  width: 100px;
  background: #16510d;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

.action-button:hover,
.action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue;
}

/*Previous Buttons*/
.action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

.action-button-previous:hover,
.action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
}
