.main {
  height: 100vh;
  width: 100vw;
  background-color: #d1f89f;
}

.toolbar {
  width: 100%;
  border: 1px solid #16510d;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #148B12;
  color: white;
  font-weight: 300;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.header {
  height: 10vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.4rem;
}

.footer {
  height: 5.5vh;
  font-size: 1.2rem;
}

h2 {
  text-shadow: 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.sceltaSegnalazione {
  font-size: 1.4rem;
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  color: #000;
  margin: 0;
}

.tipologia {
  background-color: #f8ffee;
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: 78.5vh;
  padding: 2.5rem;
  border-radius: 15px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.btn {
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
  background-color: #16510d;
  color: #fff;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  font-style: italic;
}

.form-check-label {
  width: 100%;
  padding: 0.25rem;
  padding-left: 1rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
  background-color: #fff;
  border: 1px solid #16510d;
}

.form-check-input {
  padding: 0.25rem;
  border: 1px solid #16510d;
}

.form-select {
  border: 1px solid #16510d;
  margin-bottom: 1rem;
  width: 20vw;
}
