<body>
  <div class="containerBody">
    <div id="PDF">
      <div class="paragrafi">
        <h1>Astensione caso possibile</h1>
      </div>
      <div class="paragrafi">
        <p>Gentile collega, a fronte di questa segnalazione viene disposta l’astensione dall’attività lavorativa (salvo
          lavoro flessibile da casa, se non in malattia o assente per altre causali già pianificate e autorizzate).</p>
        <p> Non ti sarà quindi possibile accedere ai locali aziendali né presso terzi per ragioni lavorative.</p>
      </div>
      <div class="paragrafi">
        <p>Invia subito copia del referto del tampone eseguito e copia dell'eventuale disposizione di
          isolamento/quarantena da parte del SSN (ASL/ATS, medico corante, ecc.) alla casella di posta</p>
        <span>ufficio_coordinamento_MCT@intesasanpaolo.com</span>
      </div>
      <div class="paragrafi">
        <p>Se già non lo hai fatto, avvisa subito dell'esito del tampone il tuo medico curante.</p>
        <p>In questo periodo, attieniti alle indicazioni riportate in allegato e:</p>
        <ul>
          <li>per esigenze di carattere medico-sanitario fai riferimento al tuo medico curante;</li>
          <li>per quesiti di natura amministrativa fai riferimento al tuo Gestore del Personale.</li>
        </ul>
      </div>
    </div>
    <div id="pageTwo">
      <div class="paragrafi">
        <p>Ai fini della ripresa lavorativa, ti invitiamo a:</p>
        <ol>
          <li>compilare il Modello ATTESTAZIONE PER IL RIENTRO, seguendo le istruzioni in esso riportate, (clicca sul
            link
            per acquisire il modello)</li>
          <li>trasmetterlo, unitamente alla documentazione richiesta, UNICAMENTE alla casella di posta
            <span>ufficio_coordinamento_MCT@intesasanpaolo.com</span>, riportando nell’oggetto: <span>ATTESTAZIONE PER
              RIENTRO DI CASO CONFERMATO</span>.
          </li>
        </ol>
        <div class="paragrafi">
          <p>Invii a caselle differenti saranno considerati non idonei e pertanto non saranno presi in carico e verranno
            cancellati.</p>
          <p>Non inserire in c.c. altri destinatari aziendali.</p>
          <div>
            <p>SE HAI RISPETTATO LE INDICAZIONI RIPORTATE IN ALLEGATO E HAI TRASMESSO TUTTA LA DOCUMENTAZIONE RICHIESTA,
              PUOI RIENTRARE SENZA ATTENDERE IL NULLA OSTA DEL MEDICO COMPETENTE che si limiterà a prendere visione
              della
              documentazione trasmessa
              alla casella sopra indicata.
            </p>
          </div>

        </div>

      </div>
      <div class="recapiti">
        <p class="numeri">Ti ricordiamo che è attivo il numero telefonico 011- 555.3640 <br>(orario da lunedì a venerdì
          ore 14:30 -15:30), al quale rispondono i Medici Dell’Ufficio di Coordinamento.</p>
      </div>
      <div>
        <label for="inputGroupFile02" class="iperlink">allegare modello ATTESTAZIONE PER IL RIENTRO (pdf editabile), al
          testo evidenziato come collegamento iperlink</label>
        <div class="input-group mb-3">
          <input type="file" class="form-control" id="inputGroupFile02">
          <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
      </div>
    </div>
    <div class="bottoni">
      <input type="button" name="next" class="next action-button" value="Stampa ricevuta segnalazioni"
        (click)="downloadPDF()">
      <input type="button" name="next" class="next action-button" value="Stampa raccomandazioni COVID-19">
      <input type="button" name="next" class="next action-button" value="Stampa riepilogo risposte fornite">
    </div>
  </div>
</body>
