<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  .toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #148B12;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  img {
    margin-left: 20px;
    width: 298px;
    height: 30px;
  }

  h2 {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #D9D9D9;

    font-size: 16px;
    margin-right: 20px;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="150" alt="IntesaSanPaolo Logo" src="../assets/IMG/logo-intesasanpaolo.png" />

  <div class="spacer">
    <h2> Modulo Segnalazione Covid-19</h2>
  </div>
</div>

<app-survey></app-survey>
<router-outlet></router-outlet>
