<div class="container" id="grad1">
  <div class="principale">
    <div class="row justify-content-center mt-0">
      <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
        <div class="card px-0 pt-4 pb-0 mt-3 mb-3">

          <div class="row">
            <div class="col-md-12 mx-0">
              <form id="msform" [formGroup]="form" (submit)="sendObject(form)">
                <!-- progressbar -->
                <ul id="progressbar">
                  <li class="active" id="account"><strong>Dettagli Segnalazione</strong></li>
                  <li id="personal"><strong>Convivente</strong></li>
                  <li id="payment"><strong>Sintomi</strong></li>
                </ul>

                <!--   PRIMO STEP -->
                <fieldset>
                  <div class="form-card">
                    <h2 class="fs-title">Dettagli Segnalazione</h2>
                    <div>

                      <!--   DOMANDA 1 -->
                      <label for="tipoTest" aria-placeholder="">{{survey.question1}}</label>
                      <select name="tipoTest" class="dropDown" formControlName="answer1">
                        <option value="{{survey.answer1.option1}}">{{survey.answer1.option1}}</option>
                        <option value="{{survey.answer1.option2}}">{{survey.answer1.option2}}</option>
                        <option value="{{survey.answer1.option3}}">{{survey.answer1.option3}}</option>
                        <option value="{{survey.answer1.option4}}">{{survey.answer1.option4}}</option>
                        <option value="{{survey.answer1.option5}}">{{survey.answer1.option5}}</option>
                        <option value="{{survey.answer1.option6}}">{{survey.answer1.option6}}</option>
                      </select>
                    </div>
                    <!--   DOMANDA 2 -->
                    <div>
                      <label for="dataTest">{{survey.question2}}</label>
                      <input type="date" name="" id="textareaDate" formControlName="answer2">
                    </div>
                    <!--   DOMANDA 3 -->
                    <div>
                      <label for="dataPresenza">{{survey.question3}}</label>
                      <input type="date" name="" id="textareaDate" formControlName="answer3">
                    </div>

                  </div>
                  <input type="button" name="previous" class="previous action-button-previous"
                    [routerLink]="['/landing-page']" routerLinkActive="active" value="INDIETRO" />
                  <input type="submit" name="next" class="next action-button" value="AVANTI" />
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
