<div class="container" id="grad1">
  <div class="principale">
    <div class="row justify-content-center mt-0">
      <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
        <div class="card px-0 pt-4 pb-0 mt-3 mb-3">

          <div class="row">
            <div class="col-md-12 mx-0">
              <form id="msform" [formGroup]="form" (submit)="sendObject(form)">
                <!-- progressbar -->
                <ul id="progressbar">
                  <li class="active" id="account"><strong>Dettagli Segnalazione</strong></li>
                  <li id="personal" class="active"><strong>Sintomaticità</strong></li>
                  <li id="payment" class="active"><strong>Dati di Controllo</strong></li>
                </ul>

                <!--        TERZO STEP -->
                <fieldset>
                  <div class="form-card">
                    <h2 class="fs-title">Dati di Controllo</h2>
                    <div>
                      <!-- DOMANDA 7 -->
                      <div>
                        <label for="dataSintomi">{{survey.question7}}</label>
                        <input type="date" name="" id="dataTampone" formControlName="answer7">
                      </div>
                      <!-- DOMANDA 8 -->
                      <label for="variante">{{survey.question8}}</label>
                      <select name="" id="variante" formControlName="answer8">
                        <option value="{{survey.answer8.option1}}">{{survey.answer8.option1}}</option>
                        <option value="{{survey.answer8.option2}}">{{survey.answer8.option2}}</option>
                      </select>
                      <p id="note">Rispondi <strong>SI</strong> solo in caso di sequenziamento genomico che ha rilevato
                        variante DIVERSA
                        da Delta e
                        Omicron</p>
                    </div>
                  </div>
                  <input type="button" name="previous" class="previous action-button-previous" value="INDIETRO"
                    [routerLink]="['/symptomatology:1']" routerLinkActive="active" />
                  <input type="submit" name="next" class="next action-button" value="AVANTI" />
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
